.wrapper {
  margin: 15px 50px;
}

.meals-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 42px;
  max-width: fit-content;
}

.meals-container img {
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
  height: auto;
}

.collapsed-meal :hover {
  transition: .1s ease-in-out;
  transform: scale(1.04);
}

.title-card {
  margin: 0 auto;
  text-align: center;
  max-inline-size: fit-content;
}

.expanded-meal {
  text-align: center;
  max-inline-size: fit-content;
}

.expanded-meal img {
  transform: scale(1.085);
}

.instructions {
  max-inline-size: fit-content;
  text-align: justify;
}